<div class="row row-offcanvas row-offcanvas-left">
    <div class="col main">
        <h2 class="display-4 d-sm-block">
            Admin Dashboard
        </h2>
        <div class="row mb-3">
            <div class="col-xl-3 col-sm-6 py-2 ">
                <div class="card bg-success text-white h-100" style="cursor: pointer;" title="Total Employees" (click)="totalEmployees()">
                    <div class="card-body bg-success">
                        <div class="rotate">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Total Employees</h6>
                        <h1 class="display-4">30</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-danger h-100" style="cursor: pointer;" (click)="totalClient()">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="glyphicon glyphicon-plus fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Add Client</h6>
                        <h1 class="display-4">87</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2 ">
                <div class="card text-white bg-info h-100" style="cursor: pointer;">
                    <div class="card-body bg-info">
                        <div class="rotate">
                            <i class="glyphicon glyphicon-cog fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Manage Tool</h6>
                        <h1 class="display-4">125</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2 ">
                <div class="card text-white bg-warning h-100" style="cursor: pointer;" (click)="getBookmanage()">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="glyphicon glyphicon-book fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Manage Book</h6>
                        <h1 class="display-4">36</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="display-4 d-sm-block">Leave Manage</h2>
<div class="row">
<div class="col-3">

</div>
<div class="col-6">
        <mat-form-field class=" searchBox full-width">
          <input matInput placeholder="Serach Employee based on Name" [(ngModel)]="searchModel" (ngModelChange)="valuechange($event)">
        </mat-form-field>
      </div>
      <div class="col-3">

        </div>
</div>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="empid" matSort>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Emp Id</mat-header-cell>
            <mat-cell *matCellDef="let details"> {{details.employee_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let details"> {{details.full_name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="annualleave">
            <mat-header-cell *matHeaderCellDef>Annual Leave</mat-header-cell>
            <mat-cell *matCellDef="let details"> {{details.annual_leaves}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sickleave">
            <mat-header-cell *matHeaderCellDef>Sick Leave</mat-header-cell>
            <mat-cell *matCellDef="let details"> {{details.sick_leaves}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="recent">
            <mat-header-cell *matHeaderCellDef>Recent Applied</mat-header-cell>
            <mat-cell *matCellDef="let details"> {{details.recent_update | date}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: displayedColumns" data-toggle="modal" data-target="#leaveModal" (click)="rowClicked(myRowData)"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
</div>



<div class="modal fade" id="leaveModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width:1250px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    Employee Leave Details
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group form">
                    <div class="media">
                        <img aria-expanded="true" aria-haspopup="true" class="align-self-center mr-3 img-circle mat-elevation-z8" data-toggle="dropdown"
                            height="200" src="//www.gravatar.com/avatar/c229601ebaf31dc8f558c5e673803f8a/?default=&amp;s=120"
                            width="200">
                        <div class="media-body"style="padding-left: 60px;">                           
                                <div class="card mat-elevation-z8 rad" style="width: 25rem;">
                                        <div class="card-body">
                                          <h3 class="card-title" align="center">{{name}}</h3>
                                 
                                          <p class="card-text">Total Annual Leave : {{totalVacation}}</p>
                                          <p class="card-text">Annual Leave Taken : {{takenVacation}} </p>
                                          <p class="card-text">Remaining Annual Leave :{{totalVacation - takenVacation}} </p>
                                          <p class="card-text">Sick Leave : {{sickLeave}} </p>
                                          <p></p>
                                        
                                        </div>
                                      </div>
                        </div>
                    </div>

                    <br>
                    <div class="mat-elevation-z8">
                        <mat-table #table [dataSource]="empdataSource" matSort>
                            
                            <ng-container matColumnDef="leavetype">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</mat-header-cell>
                                <mat-cell *matCellDef="let empuser"> {{empuser.leave_type}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef class="col-4"> Description </mat-header-cell>
                                <mat-cell *matCellDef="let empuser" class="col-4"> {{empuser.description}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="from_date">
                                <mat-header-cell *matHeaderCellDef> From Data </mat-header-cell>
                                <mat-cell *matCellDef="let empuser"> {{empuser.from_date | date}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="to_date">
                                <mat-header-cell *matHeaderCellDef> To Date</mat-header-cell>
                                <mat-cell *matCellDef="let empuser"> {{empuser.to_date | date}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="num_of_days">
                                <mat-header-cell *matHeaderCellDef> No Of Days</mat-header-cell>
                                <mat-cell *matCellDef="let empuser"> {{empuser.num_of_days}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                <mat-cell *matCellDef="let users">
                                    <a href="#" class="edit" data-toggle="modal" data-target="#myModal1" (click)="getSingleEmployee(user.emp_id)">
                                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    <a class="delete" data-toggle="confirmation"  data-target="#leaveModal" (click)="disableEmployee(users.emp_id)">
                                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="empdisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let myRowData; columns: empdisplayedColumns"></mat-row>
                        </mat-table>
                    </div>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-info">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

        
    </div>



    <!--child Popup-->
    <div id="myModal1" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#leaveModal">
            <div class="modal-dialog modal-lg" style="width:2250px;">
                    <div >
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header 1</h4>
                    </div>
                    <div class="modal-body">
                        <p>Two modal body…1</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
        
                </div>
            </div>
        </div>