<br><br>

<ul id="clothing-nav" class="nav nav-tabs" role="tablist">

    <li class="nav-item">
        <a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Manage Employees</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#client" role="tab" id="client-tab" data-toggle="tab" aria-controls="client">Manage Client</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#leaves" role="tab" id="leaves-tab" data-toggle="tab" aria-controls="leaves">Manage Leaves</a>
    </li>
</ul>


<div id="clothing-nav-content" class="tab-content">
  <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
      <app-manage-employee-component></app-manage-employee-component>
  </div>
  <div role="tabpanel" class="tab-pane fade show active" id="client" aria-labelledby="client-tab">
      <app-client-details-component></app-client-details-component>
  </div>
  <div role="tabpanel" class="tab-pane fade show active" id="leaves" aria-labelledby="leaves-tab">
      <app-manage-leaves-component></app-manage-leaves-component>
  </div>
</div>