<div class="row">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-heading">Monthly Report</div>
        <div class="panel-body">
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType"  (chartClick)="chartClicked($event)"></canvas>
          </div>
            </div>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-expenses-component></app-expenses-component>
    </div>
  
  </div>