<div class="row">
  <div class="col">
    <h3>My Profile</h3>
  </div>
</div>
<br>
<br>

<div class="panel panel-default mat-elevation-z8">
  <div class="panel-body">
    <div class="row">
      <!-- Upload Image -->
      <div class="col-sm-12 col-lg-3">
        <br>
        <a class="image">
          <img id="profileImage" class="img-circle mat-elevation-z8 imgCenter" src="//www.gravatar.com/avatar/c229601ebaf31dc8f558c5e673803f8a/?default=&amp;s=120"
            (click)="openBrowse()"  height="160" width="160">
        </a>
        <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture (change)="changeBrowse($event)">
        <!-- <img class="img-circle example-container mat-elevation-z8" height="160" src="//www.gravatar.com/avatar/c229601ebaf31dc8f558c5e673803f8a/?default=&amp;s=120"
          width="160" (click)="openBrowse()"> -->
      </div>

      <!-- Update Info -->
      <div class="col-sm-12 col-lg-4">

        <!-- Username -->
        <mat-form-field class="input">
          <input matInput #input placeholder="Username" [(ngModel)]="username" name="username">
        </mat-form-field>

        <!--Gender-->
        <mat-form-field class="input">
          <mat-select placeholder="Gender" [(value)]="gender" name="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Designation -->
        <mat-form-field class="input">
          <mat-select placeholder="Designation" [(value)]="desing" name="desing">
            <mat-option value="SDET">SDET</mat-option>
            <mat-option value="Sr SDET">Sr SDET</mat-option>
            <mat-option value="Lead">Lead</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- Experience -->
        <mat-form-field class="input1">
          <mat-select placeholder="Exp Years" [(value)]="expyear" name="expyear">
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
            <mat-option value="13">13</mat-option>
            <mat-option value="14">14</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="16">16</mat-option>
            <mat-option value="17">17</mat-option>
            <mat-option value="18">18</mat-option>
            <mat-option value="19">19</mat-option>
            <mat-option value="20">20</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input1">
          <mat-select placeholder="Months" [(value)]="expmonth" name="expmonth">
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- Data of Joining -->
        <mat-form-field class="input">
          <input matInput [matDatepicker]="joinedPicker" placeholder="Date Of Joining" [(ngModel)]="joiningdate" name="joiningdate">
          <mat-datepicker-toggle matSuffix [for]="joinedPicker"></mat-datepicker-toggle>
          <mat-datepicker #joinedPicker></mat-datepicker>
        </mat-form-field>

        <!-- Tools -->
        <mat-form-field class="input">
          <mat-select placeholder="Tools" [formControl]="tools" multiple>
            <mat-option *ngFor="let tools of toolsList" [value]="tools">{{tools}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tools -->
        <mat-form-field class="input">
          <mat-select placeholder="Clients" [formControl]="clients" multiple>
            <mat-option *ngFor="let clients of clientsList" [value]="clients">{{clients}}</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- Location -->
        <mat-form-field class="input">
          <input matInput #input placeholder="Client Location" [(ngModel)]="location" name="location">
        </mat-form-field>


      </div>

      <div class="col-sm-12 col-lg-4">

        <!-- DOB -->
        <mat-form-field class="input">
          <input matInput [matDatepicker]="dobPicker" placeholder="Date Of Birth" [(ngModel)]="dob" name="dob">
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>


        <!-- HomeTown -->
        <mat-form-field class="input">
          <input matInput #input placeholder="HomeTown" [(ngModel)]="hometown" name="hometown">
        </mat-form-field>


        <!-- Mobile -->
        <mat-form-field class="input">
          <input matInput #input placeholder="Mobile" [(ngModel)]="mobile" name="mobile">
        </mat-form-field>

        <!--  email -->
        <mat-form-field class="input">
          <input matInput #input placeholder="Email" [(ngModel)]="email" name="email">
        </mat-form-field>


        <!--  slack UserName -->
        <mat-form-field class="input">
          <input matInput #input placeholder="Slack UserName" [(ngModel)]="slack" name="slack">
        </mat-form-field>


        <!-- Linkedin Profile Link -->
        <mat-form-field class="input">
          <input matInput #input placeholder="Linkedin Profile Link" [(ngModel)]="linkedin" name="linkedin">
        </mat-form-field>


        <!-- Github -->
        <mat-form-field class="input">
          <input matInput #input placeholder="Github Username" [(ngModel)]="github" name="github">
        </mat-form-field>


        <!-- BitBucket -->
        <mat-form-field class="input">
          <input matInput #input placeholder="BitBucket Username" [(ngModel)]="github" name="github">
        </mat-form-field>
        <br>
        <br>
        <br>

      </div>
    </div>
    <div class="row" style="text-align:center;">
      <button type="button" class="btn btn-info" style="display: block; margin: 0 auto;" (click)="updateProfile()">Update Info</button>
    </div>
  </div>
</div>