.input {
    width: 75%;
  }

.centerAlign{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.input1{
      width: 37%;
  }

.btnUpdate{
    position: relative;
    min-width:500px;
    margin:auto;
    display:block;
  }
  #imageUpload
  {
      display: none;
  }
  
  #profileImage
  {
      cursor: pointer;
  }
  
  #profile-container img {
      width: 150px;
      height: 150px;
  }

  #profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: 55px;
    margin-top: 110px;

}
img:hover {
  opacity: 0.5;
}
.pic-overlay{
  background-color: #ccc;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pic-overlay:hover .fa-pencil-square-o{
  top: -100%;
}
.pic-overlay a{
  display: block;
  padding: 10px;
}
.pic-overlay .fa-pencil-square-o{
  color: blue;
}



i.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	transition: -webkit-transform 1s;
	cursor: pointer;
	height: 346px;
	width: 347px;
	position: absolute;
	z-index: 10;
	opacity: 0;
}
i.rollover:hover {
	opacity: .7;
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}