<h3>My Profile</h3>
<div class="row">
  <div class="col-4 view overlay hm-white-slight">
      <!-- <img _ngcontent-c0 aria-expanded="true" aria-haspopup="true" class=" img-circle dropdown-toggle" data-toggle="dropdown" height="150" src="//www.gravatar.com/avatar/c229601ebaf31dc8f558c5e673803f8a/?default=&amp;s=120" width="150"> -->

<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"> -->
      <img _ngcontent-c0 aria-expanded="true" aria-haspopup="true" class="card-img-top" height="100" src="//www.gravatar.com/avatar/c229601ebaf31dc8f558c5e673803f8a/?default=&amp;s=120" width="75">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">John Doe</h4>
      <!-- Text -->
      <p class="card-text"> Employee Description</p>
    
  
    </div>
  
  </div>
  <!-- Card -->
              
  <br>
  
    </div>
   <div class="col-4">
      <ul>
          <li>
            <p>
              <span class="glyphicon glyphicon-user one" style="width:50px;"></span>i.rudberg
            </p>
          </li>
          <li>
            <p>
              <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com
            </p>
          </li>
          <li>
            <p>
              <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com
            </p>
        </li>
        <li>
          <p>
            <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com
          </p>
      </li>
    </ul>
   </div>
   <div class="col-4">
      <ul>
          <li>
            <p>
              <span class="glyphicon glyphicon-user one" style="width:50px;"></span>i.rudberg
            </p>
          </li>
          <li>
            <p>
              <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com
            </p>
          </li>
          <li>
            <p>
              <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com
            </p>
        </li>
        <li>
          <p>
            <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com
          </p>
      </li>
    </ul>
    </div>
</div>


