<h3>My Team</h3>
<div class="card">

  <div class="center">
    <br>
    <img align="middle" src="//www.gravatar.com/avatar/c229601ebaf31dc8f558c5e673803f8a/?default=&s=120" class="img-circle image"
      height="140px" width="140px">
  </div>
  
  
  <div class="my-header">
      <h4>John Doe</h4><span>SDET</span>
  </div>

  <!-- <h4>John Doe</h4>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p> -->
  
  <div style="margin: 24px 0;">
    <a href="#">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="#">
      <i class="fa fa-github"></i>
    </a>
  </div>

</div>