/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: center;
  font-family: arial;
}


.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.my-header h2 { 
  display: inline;
}

