<h3>My Leaves</h3>
<div class="example-container mat-elevation-z8 d-none d-md-block">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="leave_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2"> Leave type </mat-header-cell>
      <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.leave_type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef class="col-2"> Description </mat-header-cell>
      <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="from_date">
      <mat-header-cell *matHeaderCellDef class="col-2"> From date </mat-header-cell>
      <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.from_date | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="to_date">
      <mat-header-cell *matHeaderCellDef class="col-2"> To date </mat-header-cell>
      <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.to_date | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="num_of_days">
      <mat-header-cell *matHeaderCellDef class="col-2"> Applied No Of Days</mat-header-cell>
      <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.num_of_days}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="col-2"> Action </mat-header-cell>
      <mat-cell *matCellDef="let leaves" class="col-2">

        <span *ngIf="leaves.leave_status == 2">
          <i class="material-icons color" title={{leaves.description}}>remove_circle_outline</i>
        </span>

        <span *ngIf="leaves.leave_status == 1">
          <i class="material-icons green" title={{leaves.description}}>
            done
          </i>
        </span>

        <a href="#editEmployeeModal" *ngIf="leaves.leave_status == 0" class="edit" data-toggle="modal" data-target="#saveLeaveModal"
          (click)="getData(leaves.id)">
          <i class="material-icons" matTooltip="Edit">
            edit
          </i>
        </a>
        <a *ngIf="leaves.leave_status == 0" matTooltip="Delete" class="delete" data-toggle="confirmation" (click)="removeLeave(leaves.id)">
          <i class="material-icons">
            delete_outline
          </i>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedCoulumns"></mat-header-row>

    <mat-row *matRowDef="let myRowData; columns: displayedCoulumns"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>

<!--Modal Popup-->

<div class="modal fade" id="saveLeaveModal" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Submit Leave
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group form">
          <div class="row">
            <div class="col" *ngIf="success">
              <div class="alert alert-success myAlert-top" style="padding-left: 34px !important;">
                <strong>Success!</strong> Your Leave is Successfully Submitted.
              </div>
            </div>
            <div class="col" *ngIf="successUpdated">
              <div class="alert alert-success myAlert-top" style="padding-left: 34px !important;">
                <strong>Success!</strong> Your Leave is Successfully Updated.
              </div>
            </div>
            <div class="col" *ngIf="error">
              <div class="alert alert-danger myAlert-top" style="padding-left: 34px !important;">
                <strong>{{errormessage}}</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Leave Type" [(ngModel)]="leave">
                  <mat-option *ngFor="let leaves of leavesTypeDatasource" [value]="leaves.leave_type">
                    {{leaves.leave_type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="from_date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="End date" [(ngModel)]="to_date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-select placeholder="Select No Of Days" [(ngModel)]="selected">
                  <mat-option value=".5">.5 </mat-option>
                  <mat-option value="1">1 </mat-option>
                  <mat-option value="2">2 </mat-option>
                  <mat-option value="3">3 </mat-option>
                  <mat-option value="4">4 </mat-option>
                  <mat-option value="5">5 </mat-option>
                  <mat-option value="6">6</mat-option>
                  <mat-option value="7">7 </mat-option>
                  <mat-option value="8">8 </mat-option>
                  <mat-option value="9">9 </mat-option>
                  <mat-option value="10">10 </mat-option>
                  <mat-option value="11">11</mat-option>
                  <mat-option value="12">12</mat-option>
                  <mat-option value="13">13</mat-option>
                  <mat-option value="14">14</mat-option>
                  <mat-option value="15">15</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="clickUpdate()">Update</button>
          <button type="button" class="btn btn-info" (click)="clickSubmit()">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Mobile View-->
<div class="row example-container d-lg-none d-md-none">
<!-- <div class="row example-container"> -->
  <div class="col-sm-12 " style="border-radius: 7px;" *ngFor="let leaves of mobileDataSource">
    <div class="card-body mat-elevation-z8 newStyle">
      <h5 class="card-title">
        <strong style="text-align: center">{{leaves.leave_type}} Leave</strong>
      </h5>
      <p class="card-text">From Date : {{leaves.from_date | date}} </p>
      <p class="card-text">To Date : {{leaves.to_date | date}} </p>
      <p class="card-text" style="display: inline;">Applied Days : {{leaves.num_of_days}} </p>
      <div style="display: inline;" *ngIf="leaves.leave_status == 0">
        <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-target="#saveLeaveModal" (click)="getData(leaves.id)"
          style="padding-left: 50px;">
          <i class="material-icons" matTooltip="Edit">
            edit
          </i>
        </a>
        <a matTooltip="Delete" class="delete" data-toggle="confirmation" (click)="removeLeave(leaves.id)" style="padding-left: 10px;">
          <i class="material-icons">
            delete_outline
          </i>
        </a>
      </div>
      <div *ngIf="leaves.leave_status == 1" style="display: inline;padding-left: 10px;">
        <a>
          <i class="material-icons green" title={{leaves.description}}>
            done
          </i>
        </a>
      </div>
      <div *ngIf="leaves.leave_status == 2" style="display: inline;padding-left: 10px;">
        <a>
          <i class="material-icons color" title={{leaves.description}}>remove_circle_outline</i>
        </a>
      </div>
    </div>
    <br>
  </div>
</div>