<h3>My Leaves</h3>
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]='dataSource' matSort>
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2"> Id </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="leave_type">
        <mat-header-cell *matHeaderCellDef class="col-2"> Leave type </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.leave_type}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef class="col-2"> Description </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.description}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="from_date">
        <mat-header-cell *matHeaderCellDef class="col-2"> From date </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.from_date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="to_date">
        <mat-header-cell *matHeaderCellDef class="col-2"> To date </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.to_date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="num_of_days">
        <mat-header-cell *matHeaderCellDef class="col-2"> No Of days </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.num_of_days}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedCoulumns"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: displayedCoulumns" (click)="onRowClicked(row)"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSize]="5">
    </mat-paginator>
  </div>