a.edit {
    color: #FFC107;
}
a.delete {
    color: #F44336;
}
.full-width{
  width: 100%;
}
span > i.green{
    color: green;
}

span > i.color{
    color: red;
}


.example-container {
    display: flex;
    flex-direction: column;
  
  }
  
  .mat-table {
    overflow: auto;
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }