<mat-tab-group [selectedIndex]="selected">
  <mat-tab label="Manage Employees" class="w-100">
    <app-manage-employee-component></app-manage-employee-component>
  </mat-tab>
  <mat-tab label="Manage Clients">
    <app-client-details-component></app-client-details-component>
  </mat-tab>
  <mat-tab label="Manage Leaves">
    <app-manage-leaves-component></app-manage-leaves-component>
  </mat-tab>
  <mat-tab label="Manage Books">
    <app-bookmanage></app-bookmanage>
  </mat-tab>
  <mat-tab label="Manage Skills">Manage Skills</mat-tab>
</mat-tab-group>
