<div class="wrapper">
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="onSubmit(Email.value,Password.value)">
    <h2 class="form-signin-heading">Login</h2>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email Id" #Email ngModel required name="UserName">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <mat-form-field class="example-full-width">
          <input matInput #Password ngModel name="Password" placeholder="Password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <mat-checkbox>Remember me</mat-checkbox>
      </div>
      <div class="col">
        <a data-toggle="modal" data-target="#pwdModal">Forgot Password</a>
      </div>
    </div>
    <br>
    <div class="row">
      <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </div>
  </form>
</div>

<!-- <div class="modal fade" id="pwdModal" role="dialog" data-backdrop="static" data-keyboard="false"> -->

<div class="modal fade" id="pwdModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="material-icons">lock_open</i>
          Recover Password
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <i class="material-icons">email</i>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Email" #UserName ngModel required name="UserName">
        </mat-form-field>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Send</button>
      </div>
    </div>
  </div>
</div>
