<div class="wrapper w-100">
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="onSubmit(Email.value,Password.value)">
    <h2 class="form-signin-heading">Login</h2>
    <div class="row">
        <div class="col" *ngIf="isError">
            <div class="alert alert-danger myAlert-top" style="padding-left: 34px !important;">
              <strong>{{message}}</strong> 
            </div>
          </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <mat-form-field class="example-full-width"> 
            <input matInput #Email [(ngModel)]="emailText" autocomplete='email' placeholder="User Name" [formControl]="email" id="emailText" name="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <mat-form-field class="example-full-width">
          <input matInput #Password autocomplete="true" ngModel [formControl]="password"  name="password"  placeholder="Password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="password.invalid">{{getPasswordMessage()}}</mat-error>
        </mat-form-field>
      </div>     
    </div>
    <br>
    <div class="row">
      <div class="col">
        <!-- <mat-checkbox>Remember me</mat-checkbox> -->
        <!-- <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" (click)="rememberchk($event)">Remember Me
        </label> -->
        <div class="squaredFour">
          <input type="checkbox" value="None" id="squaredFour" name="check" (click)="rememberchk($event)" />
          <label for="squaredFour">Remember Me</label>
        </div>
      </div>
      <div class="col">
        <a data-toggle="modal" data-target="#forgetpwdModal">Forgot Password</a>
      </div>
    </div>
    <br>
    <div class="row">
      <button [disabled]="email.invalid || password.invalid" class="btn btn-lg btn-primary btn-block" style="text-shadow: black 5px 3px 3px;" type="submit">Login</button>
    </div>
  </form>
</div>

<div class="modal fade" id="forgetpwdModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          Forgot Password? 
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="row">
              <div class="col" *ngIf="isError">
                  <div class="alert alert-danger myAlert-top" style="padding-left: 34px !important;">
                    <strong>{{message}}</strong> 
                  </div>
                </div>
          </div>
          <div class="row">
              <div class="col" *ngIf="isSucess">
                  <div class="alert alert-success myAlert-top" style="padding-left: 34px !important;">
                    <strong>Mail Sent Sucessfully</strong> 
                  </div>
                </div>
          </div>
        <i class="material-icons">email</i>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Email" #UserName ngModel required name="UserName">
        </mat-form-field>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info"(click)="sendPassword(UserName.value)">Send</button>
      </div>
    </div>
  </div>
</div>

