<br>
<div class="w-100">
  <div>
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h3>Manage Leaves</h3>
        </div>
        <div class="col-sm-6">
          <a data-target="#manageEmployeeLeaveModal" class="btn btn-info" data-toggle="modal">
            <i class="material-icons">&#xE147;</i>
            <span>Add New Leave</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100">
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef class="col-2"> S.NO </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="leave_type">
        <mat-header-cell *matHeaderCellDef class="col-2"> Leave Type </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.leave_type}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="num_of_days">
        <mat-header-cell *matHeaderCellDef class="col-2"> No Of Days </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.num_of_days}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="validity">
        <mat-header-cell *matHeaderCellDef class="col-2"> Validity </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.validity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="carry_forward">
        <mat-header-cell *matHeaderCellDef class="col-2"> Carry Forward</mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2"> {{leaves.carry_forward}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="col-2"> Action </mat-header-cell>
        <mat-cell *matCellDef="let leaves" class="col-2">
          <a class="edit" data-toggle="modal" data-target="#manageEditEmployeeModal" (click)="getTypeUpdate(leaves.id)">
            <i class="material-icons" title="Edit">&#xE254;</i>
          </a>
          <a class="delete" data-toggle="confirmation" data-target="#addLeaveModal" (click)="deleteClient(leaves.id)">
            <i class="material-icons" title="Delete">delete_outline</i>
          </a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedCoulumns"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: displayedCoulumns"></mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="manageEmployeeLeaveModal" class="modal fade" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Add Leave</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col" *ngIf="isPass">
                  <div class="alert alert-success myAlert-top" style="padding-left: 34px !important;">
                    <strong>Record Added</strong>
                  </div>
                </div>
                <div class="col" *ngIf="error">
                  <div class="alert alert-danger myAlert-top" style="padding-left: 34px !important;">
                    <strong>{{message}}</strong>
                  </div>
                </div>
              </div>
          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="LeaveType"  [(ngModel)]="leavetype" name="leavetype">
          </mat-form-field>
          <br>
          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="description"  [(ngModel)]="description" name="description">
          </mat-form-field>
          <br>

          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="noofDays"  [(ngModel)]="noofDays" name="noofDays">
          </mat-form-field>
          <br>

          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="validity"  [(ngModel)]="validity" name="validity">
          </mat-form-field>
          <br>

          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="carryforward"  [(ngModel)]="carryforward" name="carryforward">
          </mat-form-field>
          <br>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-info" value="Add" (click)="addLeaveRecord()">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal HTML -->
<div id="manageEditEmployeeModal" class="modal fade" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit Leave</h4>

          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col" *ngIf="isSuccess">
              <div class="alert alert-success myAlert-top" style="padding-left: 34px !important;">
                <strong>Record Updated</strong>
              </div>
            </div>
            <div class="col" *ngIf="isError">
              <div class="alert alert-danger myAlert-top" style="padding-left: 34px !important;">
                <strong>{{message}}</strong>
              </div>
            </div>
          </div>

          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="LeaveType" [(ngModel)]="updateleavetype" name="updateleavetype">
          </mat-form-field>
          <br>
          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="description" [(ngModel)]="updatedescription" name="updatedescription">
          </mat-form-field>
          <br>

          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="noofDays" [(ngModel)]="updatenoofDays" name="updatenoofDays">
          </mat-form-field>
          <br>

          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="validity" [(ngModel)]="updatevalidity" name="updatevalidity">
          </mat-form-field>
          <br>

          <mat-form-field class="input" style="width: 100%">
            <input matInput #input placeholder="carryforward" [(ngModel)]="updatecarryforward" name="updatecarryforward">
          </mat-form-field>
          <br>

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-info" value="Update Leaves" (click)="updateLeaveType()">
        </div>
      </form>
    </div>
  </div>
</div>