<h3>My Expenses</h3>

<div class="form-group">
  <div class="row">
    <div class="col col-7">
      <div class="expenseContainer">

        <!-- Username -->
        <mat-form-field>
          <input matInput #input placeholder="Username">
        </mat-form-field>
        <br>

        <!-- Expense Category -->
        <mat-form-field>
          <mat-select placeholder="Expense Category">
            <mat-option value="option1">Payroll</mat-option>
            <mat-option value="option2">Non Payroll</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Expense Type -->
        <mat-form-field>
          <mat-select placeholder="Expense Type">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Amount -->
        <mat-form-field>
          <input matInput #input placeholder="Amount">
        </mat-form-field>

        <!-- Start Date -->
        <div class="row">
          <div class="col col-7">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Start Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- End Date -->
          <div class="col">
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="End Date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- Upload File -->
        <!-- <input type="file" class="text-center well well-sm" id="inputFile" aria-describedby="fileHelp"> -->

        <!-- Save -->
        <button type="button" class="btn btn-info">Submit</button>
      </div>
    </div>
    <div class="col">
      <br>
      <br>
      <div class="row">
        <img class="img-rounded centerAlign" height="200" src="//www.gravatar.com/avatar/c229601ebaf31dc8f558c5e673803f8a/?default=&amp;s=120"
          width="200">
      </div>
      <br>
      <div style="position:relative;" class="row">
        <div class="centerAlign">
          <a class='btn btn-info' width="50" href='javascript:;'>
            Upload Expense Bill...
            <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'
              name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]='dataSource' matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedCoulumns"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: displayedCoulumns" (click)="onRowClicked(row)"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="5">
  </mat-paginator>
</div>