<h3>My Dashboard</h3>
<div class="card-deck">
    <div class="card cardsDesign mb-4">
        <div class="card-body">
            <h5 class="card-title">Vacation</h5>
            <p class="card-text" style="text-align: right;">
                <small class="text-muted"></small>
            </p>
            <div style="display: block" class="col-md-12">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
    <div class="card cardsDesign mb-4">
        <div class="card-body">
            <h5 class="card-title">Time Report</h5>
            <p class="card-text" style="text-align: right;">
                <small class="text-muted"></small>
            </p>
            <div style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
    <div class="card cardsDesign mb-4">
        <div class="card-body">
            <h5 class="card-title">Expense Report</h5>
            <p class="card-text" style="text-align: right;">
            </p>
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <app-myleaves-components></app-myleaves-components>
</div>