<h3>My Dashboard</h3>
<div class="card-deck">
    <div class="card cardsDesign mb-4">
        <div class="card-body mat-elevation-z8">
            <h5 class="card-title">Vacation</h5>
            <p class="card-text" style="text-align: right;">
                <small class="text-muted"></small>
            </p>
            <div style="display: block" class="col-md-12">
                    <p-chart type="pie" [data]="data"></p-chart>
            </div>
        </div>
    </div>
    <div class="card cardsDesign mb-4">
        <div class="card-body mat-elevation-z8">
            <h5 class="card-title">Time Report</h5>
            <p class="card-text" style="text-align: right;">
                <small class="text-muted"></small>
            </p>
            <div style="display: block">
                    <p-chart type="doughnut" [data]="data"></p-chart>
            </div>
        </div>
    </div>
    <div class="card cardsDesign mb-4">
        <div class="card-body mat-elevation-z8">
            <h5 class="card-title">Expense Report</h5>
            <p class="card-text" style="text-align: right;">
            </p>
            <div style="display: block">
                    <p-chart type="bar" [data]="data"></p-chart>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <app-myleaves-components></app-myleaves-components>
</div>

